@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothambook-webfont.woff2') format('woff2'),
         url('./fonts/gothambook-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothammedium_1-webfont.woff2') format('woff2'),
         url('.fonts/gothammedium_1-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothambold-webfont.woff2') format('woff2'),
         url('./fonts/gothambold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 1440px;
    min-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Gotham', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    background: linear-gradient(360deg, rgb(36 36 47) 0%, rgb(37 37 48) 77.78%);
    border-bottom: 2px solid #272731;
}

.inviteToGames {
    padding: 16px 58px;
    display: flex;
}

.inviteToGames__logo {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.inviteToGames__logo-link {
    padding-left: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.inviteToGames__logo-svg {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

.inviteToGames__logo-svg:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); 
}

.inviteToGames__logo-link:hover {
    color: #AA82FF;
    transition: 1s;
}

.inviteToGames__links {
    display: flex;
    gap: 56px;
    align-self: center;
    align-items: center;
}

.inviteToGames__links-nav {
    display: flex;
    align-items: flex-end;
}

.inviteToGames__links-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.inviteToGames__links-ul li {
    padding: 0 20px;
}

.inviteToGames__links-ul a {
   text-decoration: none;
   color: white;
   font-style: 14px; 
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}

.inviteToGames__links-ul a:hover {
    color: #7B61FF;
    transition: 1s;
}

.inviteToGames__links-form {
    position: relative;
}

.inviteToGames__links-search {
    background: #FEFDFE;
    border: 1px solid #E4E5EC;
    border-radius: 34px;
    padding: 10px 10px;
    background-image: url('./img/searchicon.png');
    width: 219px;
    outline-color: #7B61FF;
}

.inviteToGames__links-form img {
    position: absolute;
    background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
    width: 28px;
    height: 28px;
    top: 4px;
    right: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.inviteToGames-burger-menu {
    display: none;
}

.worldOfGames {
    padding-top: 188px;
    background: linear-gradient( rgba(28, 28, 40, 0.8) 30%, rgba(0, 0, 0, 0.6) ) 77.78%, url('./img/frame.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid #1b1b2a;
}

.worldOfGames__top-gradient {
    background: linear-gradient(360deg, rgba(28, 28, 40, 0.8) 0%, rgba(28, 28, 40, 0) 77.78%);
    transform: rotate(-180deg);
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    left: 0;
}

.worldOfGames__bottom-gradient {
    background: linear-gradient(360deg, #1C1C28 0%, rgba(28, 28, 40, 0) 77.78%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    left: 0;
}

.worldOfGames__main p {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 24px;
}

.worldOfGames__main p::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: white;
    width: 5%;
    margin-left: 15px;
    top: 20%;
    left: 59%;
}

.worldOfGames__main p::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: white;
    width: 5%;
    top: 20%;
    right: 60%;
}


.worldOfGames__main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 40px;
    z-index: 1;
}

.worldOfGames__main-member {
    display: flex;
    justify-content: center;
}

.worldOfGames__main-btn {
    display: inline-block;
    text-align: center;
    background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
    backdrop-filter: blur(4px);
    border-radius: 100px;
    border: none;
    padding: 18.5px 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 229px;
    z-index: 1;
}

.worldOfGames__main-btn:hover {
    background: linear-gradient(267.28deg, #4c38ac 24%, #623cb4 73.95%);
    transition: 1s;
}

.worldOfGames__main-scroll {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-bottom: 98px;
    padding-top: 300px;
    z-index: 1;
}

.worldOfGames__main-scroll a {
    z-index: 1;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}

.worldOfGames__main-scroll img {
    align-self: baseline;
    margin-left: 10px;
    cursor: pointer;
    z-index: 1;
}

.worldGamesCompanies {
    padding-top: 100px;
    background: linear-gradient(360deg, rgb(26 26 39) 0%, rgb(27 27 39) 77.78%);
    padding-bottom: 200px;
}

.worldGamesCompanies__logotypes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 171px;
}


.worldGamesCompanies__meeting-describe {           
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #F68E5F;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
}

.worldGamesCompanies__meeting-describe::after {         
    position: absolute;
    content: "";
    height: 2px;
    background-color: #F68E5F;
    width: 5%;
    margin-left: 15px;
    top: 30%;
    left: 54%;
}

.worldGamesCompanies__meeting-describe::before {          
    position: absolute;
    content: "";
    height: 2px;
    background-color: #F68E5F;
    width: 5%;
    top: 30%;
    right: 55%;
}

.worldGamesCompanies__meeting h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 70px;
}

.worldGamesCompanies__articles {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.worldGamesCompanies__articles-block {
    position: relative;
    padding: 0 15px;  
    width: 33.333%;  
}

.worldGamesCompanies__articles-block--item {    
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 85px;
    background: #20202E;
    box-shadow: inset 0px 2px 0px #61FFDA;   
}

.border__item2 {
    box-shadow: inset 0px 2px 0px #7B61FF;
}

.border__item3 {
    box-shadow: inset 0px 2px 0px #FF626B;
} 

.article_img1 {
    width: 100%;
    height: 250px;
    opacity: 0.7;
    margin-bottom: 24px;   
}

.article_icon1 {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 218px;               
}

.worldGamesCompanies__articles-block span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #DEE1FF;
}

.background__svg1 {
    position: absolute;
    opacity: 0.4;
    top: 286px;
    left: 13px;
}

.background__svg2 {
    position: absolute;
    top: 286px;
    left: 225px;
    opacity: 0.4;
}

.background__svg3 {
    position: absolute;
    top: 286px;
    left: 235px;
    opacity: 0.4;
}

.background__svg4 {
    position: absolute;
    top: 286px;
    left: 245px;
    opacity: 0.4;
}

.worldGamesCompanies__articles-block--paragrarh {
    padding-top: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #DEE1FF;
    margin-bottom: auto;
    margin-top: auto;
}

.gamesLibrary {
    background: linear-gradient(180deg, #1C1C28 0%, rgba(28, 28, 40, 0.8) 20.31%, rgba(28, 28, 40, 0.7) 33.85%, rgba(28, 28, 40, 0) 100%), url('./img/frame4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.gamesLibrary h2 {
    padding-top: 78px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.gamesLibrary__tabs {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gamesLibrary__tabs-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* .gamesLibrary__tabs-list .tab .active {
    background: #F68E5F;
    border-radius: 48px;
} */

.gamesLibrary__tabs-list .tab:hover {
    background: #F68E5F;
    transition: 1s;
    border-radius: 48px;
}

.active[data-tab-content] {
  display: block;
}

.gamesLibrary__tabs-list li {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 5px 6px;
}

.gamesLibrary__articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-bottom: 100px;
}

.gamesLibrary__articles-block {
    width: 25%;
    padding: 15px 15px;
    z-index: 1;
}

.gamesLibrary__articles-block--item {
    background: rgba(24, 25, 32, 0.1);
    backdrop-filter: blur(32.2141px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gamesLibrary__articles-block--item h3 {
    padding: 16px 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 138.2%;
    color: #FFFFFF;
}

.gamesLibrary__articles-block--item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 138.2%;
    color: #FFFFFF;
    padding: 5px 18px;
}

.gamesLibrary__articles-block--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.gamesLibrary__articles-block--price_grade {
    display: flex;
    align-items: center;
}

.gamesLibrary__articles-block--price .rating {
    padding-left: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #C9CAD8;
    font-size: 14px;
}

.gamesLibrary__articles-block--price .orders {
    font-weight: 400;
    line-height: 12px;
    color: #C9CAD8;
    font-size: 14px;
} 

.gamesLibrary__articles-block--price .btn {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #FFFFFF;
    background: #F68E5F;
    border-radius: 19.3285px;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
}

.gamesLibrary__articles-block--price .btn:hover {
    color: #C9CAD8;
    transition: 1s;
    background: #4c38ac;
}


.gamesLibrary__gradient {
    background: linear-gradient(180deg, #1C1C28 0%, rgba(28, 28, 40, 0) 100%);
    transform: rotate(-180deg);
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
}

.gamesVideoPresent {
    padding-bottom: 265px;
    padding-top: 100px;
    background: #1c1c28;
    position: relative;
}

.gamesVideoPresent__content {
    display: flex;
    justify-content: space-between;
}

.gamesVideoPresent__content-video--videoclip-controls {
    visibility: hidden;
    opacity: 0.5;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    bottom: 372px;
    left: 30%;
    margin-left: -200px;
    background: #1b1b2a;
    box-shadow: 3px 3px 5px black;
    transition: 1s all;
    display: flex;
}


.gamesVideoPresent__content-video--videoclip-controls button::before {
    font-size: 17px;
    position: relative;
    content: attr(data-icon);
    color: #4312d9;
    text-shadow: 1px 1px 0px black;
}

.gamesVideoPresent__content-video--videoclip-controls button {
    cursor: pointer;
}

.gamesVideoPresent__content-video:hover .controls,
.gamesVideoPresent__content-video:focus-within .controls {
  opacity: 1;
}

.timer {
    line-height: 38px;
    font-size: 10px;
    font-family: monospace;
    text-shadow: 1px 1px 0px black;
    color: white;
    flex: 5;
    position: relative;
}
  
  .timer div {
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    left: 0;
    top: 0;
    width: 0;
    height: 27px;
    z-index: 2;
}
  
  .timer span {
    position: absolute;
    z-index: 3;
    left: 19px;
}

.gamesVideoPresent__content-text {
    margin-left: 42px;
    position: relative;
}

.gamesVideoPresent__content-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 64px;
}

.gamesVideoPresent__content-text--description {
    margin-left: 76px;
    padding-top: 25px;
}


.gamesVideoPresent__content-text--description h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.gamesVideoPresent__content-text--description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #DEE1FF;
    padding-top: 5px;

}

.gamesVideoPresent__content-text--description svg {
    position: absolute;
    left: 0;
}


.gamesCustomers {
    background: #1c1c28;
}

.gamesCustomers__span {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F68E5F;
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.gamesCustomers__span::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #F68E5F;
    width: 4%;
    top: 50%;
    left: 57%;
}

.gamesCustomers__span::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #F68E5F;
    width: 4%;
    top: 50%;
    right: 57%;
}

.gamesCustomers h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 81px;
}

.gamesCustomers__content {
    display: flex;
    gap: 24px;
    padding-bottom: 150px;
}
 
.gamesCustomers__content-block {
    background: #292945;
    border-radius: 10px;
    padding-left: 24px;
    padding-top: 28px;
    padding-bottom: 28px;
    width: 50%;
    position: relative;
    z-index: 1;
}

.gamesCustomers__content-block--name {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.gamesCustomers__content-block--profession {
    font-size: 12px;
    line-height: 14px;
    color: #9BA5FE;
    display: block;
    padding-top: 6px;
}

.gamesCustomers__content-block p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FEFEFE;
    padding-bottom: 18px;
    padding-top: 52px;
}

.gamesCustomers__content-block .star-logo {
    position: absolute;
    background: none;
    top: 0;
    left: 0;
}

.star-logo img:hover {
    -webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor: pointer;
}

.gamesCustomers__content-block-customerFirstImg {
    position: absolute;
    top: -5px;
    right: 0;
}

.gamesCustomers__content-block-customerSecondImg {
    top: -11px;
    right: 0;
    position: absolute;
}

.gamesDimention {
    background: #1c1c28;
    position: relative;
    z-index: 100;
    border-bottom:  1px solid #30313F;
}

.gamesDimention p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F68E5F;
    position: relative;
    padding-left: 68px;
    padding-bottom: 16px;
}

.gamesDimention p::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #F68E5F;
    width: 4%;
    top: 27%;
    left: 0;
}

.gamesDimention__text {
    padding-bottom: 200px;
    padding-top: 90px;
}

.gamesDimention h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    padding-bottom: 48px;
}

.gamesDimention button {
    background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
    border-radius: 100px;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
}

.gamesDimention button:hover {
    cursor: pointer;
    background: linear-gradient(267.28deg, #4c38ac 24%, #623cb4 73.95%);
    transition: 1s;
}

.gamesDimention__text-img {
    position: absolute;
    z-index: 0;
    top: -31px;
    right: 109px;
}

.gamesDimention__down {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 32px;
}

.gamesDimention__down-logo {
    display: flex;
    align-items: center;;
}

.gamesDimention-link {
    padding-left: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.gamesDimention__down-logo a:hover {
    cursor: pointer;
    transition: 1s;
    color: #AA82FF;
}

.gamesDimention-form-search {
    background: #292945;
    border-radius: 100px;
    padding: 22px 22px;
    width: 289px;
    outline-color: #7B61FF;
    border: none;
    color: #c6c6d8;
    
}

.gamesDimention-form-search::placeholder {
    color: rgba(209, 195, 195, 0.7);
}

.gamesDimention-form_img {
    position: absolute;
    background: #4312d9;
    right: 22px;
    top: 18px;
    padding: 2px;
    border-radius: 7px;
}

footer {
    padding-top: 40px;
    background: #1c1c28;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;
}

.footer_section-link {
    display: flex;
    gap: 121px;
}

.section-links__link-item ul {
    list-style: none;
}

.section-links__link-item li {
    padding-bottom: 12px;
}

.section-links__link-item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}

.section-links__link-item a:hover {
    color: #AA82FF;
    transition: 1s;
}

.section-links__link-item .first-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: -0.231818px;
    text-transform: uppercase;
    color: #BDC3FF;
}

.footer_section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_section-content h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.footer_section-content-btnLink  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_section-content-btnLink a {
    font-weight: 400;
    font-size: 16px;
    line-height: 0;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_section-content-btnLink button {
    background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
    border-radius: 100px;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
}

.footer_section-content-btnLink button:hover {
    cursor: pointer;
    background: linear-gradient(267.28deg, #4c38ac 24%, #623cb4 73.95%);
    transition: 1s;
}

.footer_section-content-btnLink a:hover {
    color: #AA82FF;
    transition: 1s;
}

.footer_section-social {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.footer_section-social_link {
    display: flex;
    gap: 50px;
}

.footer_section-social_link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}

.footer_section-social_link a:hover {
    color: #AA82FF;
    transition: 1s;
}

.footer_section-social_media {
    display: flex;
    gap: 20px;
}

.footer_section-social_media svg:hover path {
    fill: #4312d9;
}

.footer_section-social_media svg:hover {
    cursor: pointer;
    transition: 1s;
}

.footer_section_text {
    font-weight: 400;
    padding-top: 24px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #777B9E;
}


@media (max-width: 1200px) {

    .inviteToGames__links-form {
        display: none;
    }

    .inviteToGames__links {
        display: none;
    }

    .inviteToGames-burger-menu {
        display: flex;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        left: 0;
    }

    .menu__btn {
        position: absolute;
        top: 30px;
        right: 50px;
        width: 35px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        transition-duration: .25s;
        z-index: 2;
    }

    .menu__box a {
        color: #FFFFFF;
        text-align: center;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

     .worldGamesCompanies__logotypes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
    }

    .worldGamesCompanies__logotypes img {
        width: 33.333%;
    }   

    .worldGamesCompanies__articles-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .article_img1 {
        width: 100%;
        opacity: 0.7;
        height: 100%;
        margin-bottom: 24px;   
    }

    .article_icon1 {
        display: none;           
    }

    .worldGamesCompanies__articles-block svg {
        display: none;
    }

    .gamesLibrary__articles {
        justify-content: stretch;
    } 

    .gamesLibrary__articles-block {
        width: 33.333%;
    }

    .gamesVideoPresent__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }

    .gamesVideoPresent__content-text {
        text-align: center;
    }

    .gamesVideoPresent__content-text--description {
        display: none;
    }

    .gamesVideoPresent__content-video {
        padding-top: 20px;
        width: auto;
    }

    .gamesVideoPresent__content-video--videoclip-controls {
        margin-left: 0;
        left: 33%;
        bottom: 288px;
    }

    .gamesCustomers__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .gamesCustomers__content-block {
        width: 60%;
    }

    .gamesDimention__text-img {
        display: none;
    }

    .gamesDimention__text {
        text-align: center;
    }

}