@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothambook-webfont.woff2') format('woff2'),
         url('./fonts/gothambook-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothammedium_1-webfont.woff2') format('woff2'),
         url('.fonts/gothammedium_1-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothambold-webfont.woff2') format('woff2'),
         url('./fonts/gothambold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    min-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Gotham', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: linear-gradient( rgba(28, 28, 40, 0.8) 30%, rgba(0, 0, 0, 0.6) ) 77.78%, url('./img/frame.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.inviteToGames {
    padding: 16px 58px;
    display: flex;
}

.inviteToGames__logo {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.inviteToGames__logo-link {
    padding-left: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.inviteToGames__logo-link:hover {
    color: #AA82FF;
}

.inviteToGames__logo-svg {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

.inviteToGames__logo-svg:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.inviteToGames__links {
    display: flex;
    gap: 56px;
    align-self: center;
    align-items: center;
}

.inviteToGames__links-nav {
    display: flex;
    align-items: flex-end;
}

.inviteToGames__links-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.inviteToGames__links-ul li {
    padding: 0 20px;
}

.inviteToGames__links-ul a {
   text-decoration: none;
   color: white;
   font-style: 14px; 
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}

.inviteToGames__links-form {
    position: relative;
}

.inviteToGames__links-search {
    background: #FEFDFE;
    border: 1px solid #E4E5EC;
    border-radius: 34px;
    padding: 10px 10px;
    background-image: url('./img/searchicon.png');
    width: 219px;
}

.inviteToGames__links-form img {
    position: absolute;
    background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
    width: 28px;
    height: 28px;
    top: 4px;
    right: 10px;
    border-radius: 12px;
}

.worldOfGames {
    padding-top: 188px;
}

.worldOfGames__main p {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 24px;
}

.worldOfGames__main p::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: white;
    width: 5%;
    margin-left: 15px;
    top: 40%;
    left: 59%;
}

.worldOfGames__main p::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: white;
    width: 5%;
    top: 40%;
    right: 60%;
}


.worldOfGames__main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 40px;
}

.worldOfGames__main-member {
    display: flex;
    justify-content: center;
}

.worldOfGames__main-btn {
    display: inline-block;
    text-align: center;
    background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
    backdrop-filter: blur(4px);
    border-radius: 100px;
    border: none;
    padding: 18.5px 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 229px;
}

.worldOfGames__main-scroll {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-bottom: 98px;
}

.worldOfGames__main-scroll img {
    align-self: baseline;
    margin-left: 10px;
    animation: animate 1s infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

/* @keyframes animate {
    50% {
        margin-top: 10px;
    }
} */

.worldGamesCompanies {
    padding-top: 153px;
    background: linear-gradient(360deg, rgba(7, 7, 44, 0.8) 0%, rgba(3, 3, 29, 0) 77.78%);
    padding-bottom: 153px;
}

