@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothambook-webfont.woff2') format('woff2'),
         url('./fonts/gothambook-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothammedium_1-webfont.woff2') format('woff2'),
         url('.fonts/gothammedium_1-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/gothambold-webfont.woff2') format('woff2'),
         url('./fonts/gothambold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    min-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Gotham', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-image: url('./img/frame.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.inviteToGames {
    
}
